<div class="form-group" id="dropdown">
	<select name="dropDown" ng-model="formData.location" >
		<option value="">Location</option> 
		<option value="Boston">Boston</option> 
		<option value="New York">New York</option> 
		<option value="Chicago">Chicago</option> 
		<option value="San Francisco">San Francisco</option> 
                <option value="New Jersey">New Jersey</option>
	</select>
</div>
<div class="form-group">
<div ng-controller="DatepickerDemoCtrl">
   	 <div class="form-group row">
	 <div class="col-lg-6">
        <label for="formDOB">Start Date</label>
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="formData.startDate" is-open="calendar.opened.start" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Start Date" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'start')"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>
</div>
	 <div class="form-group row">
    <div class="col-lg-6">
        <label for="formWinDate">End Date</label>
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="formData.returnDate" is-open="calendar.opened.return" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="End Date" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'return')"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>
</div>
		<!-- Step2 End -->	
	</tab>
	
</div>


<div class="form-group row">
<div class="col-xs-2 ">
    <a ui-sref="form.stepthree" class="btn btn-block btn-info">
    Next  <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>